    html{
        font-family: 'Montserrat'; /*'cursive','Times New Roman' ; */
    }

    body{
        margin: 0;
       background-color: #efefef;
        /* background-image: linear-gradient(red, yellow); */

        
    }

    .cabeza{
        /* background-color: rgb(20, 60, 197); */
        background-image: linear-gradient(45deg, rgb(9, 25, 248), rgb(158, 1, 255));     /*ANIMACIÓN DE COLOR */

        color: white;
        width: 100%;
        z-index: 100%;
        padding: auto 1rem;
        margin-bottom: 3rem;
        top: 0;
        position: fixed;
    }

    header h1{
        font-size: 3rem;
        text-align: center; 
        position: sticky;   
    }

    img{
        width: 700px;
    }

    .container{
        width: 700px;
        margin: 11rem auto; /*centrado*/
    }

    section article{
        /* trnasition: all animar todas las propiedades de ese elemento */
        transition: box-shadow 0.3s ease-in-out; 
        background-color: white;
        margin: 1rem 0;
        border-radius: 0.5rem;
        padding: 0.25rem 0;
        cursor: pointer;

    }

    section article:hover{
        box-shadow: 0 0.1rem 0.4rem rgba(75, 10, 166, 0.4) ;
    }

    section article h2, section article p{
        margin: 1rem;
    }

    footer {
        background-color: rgb(44, 42, 42);
        padding: 2rem 1rem;
        color: white;
        width: 100%;
        bottom: 0%;
    }

    footer section{
        background-color: rgb(44, 42, 42);
        float: right;
        right: 2rem;
        position: sticky;
    }

    footer p{
        margin: 0;
    }

    footer a{
        transition: color 0.3s ease;
        color: white;
        text-decoration: none;
    }

    footer a:hover{
        color: aquamarine;
    }

